h1  {    
    font-family:Arial, Helvetica, sans-serif;
}

p {
font-family:Arial, Helvetica, sans-serif;
margin:10px;
background-color:white;
padding-bottom:50px;
padding:10px;
}

.small-wrapper {
    background-color:gray;
    width:33%;
    justify-content: center;
    margin:30px;
    margin-left:35%;
}
.wrapper1 {
    display: flex;
    flex-wrap:nowrap;
    justify-content: left;
    background-color:gray;
    margin: 30px
}

.wrapper2 {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    background-color:gray;
    margin: 30px

}

.wrapper3 {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    margin: 30px;
    background-color:gray;

}
.wrapper4 {
    display: flex;
    flex-wrap:nowrap;
    justify-content: right;
    margin: 30px;
    background-color:gray;

}
.wrapper5 {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    margin: 30px;
    background-color:gray;

}

.wrapper6 {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    margin: 30px;
    background-color:gray;


}

.wrapper7 {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    margin: 30px;
    margin-right:50px;
    background-color:gray;
    justify-content: left;
}